{% extends 'base.html.twig' %}

{% block title %}{{ 'contact.index.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'contact.index.header'|trans }}</h1>

    {% include 'contact/_table.html.twig' with {'page': page} %}

    <a href="{{ path('app_contact_new') }}">{{ 'contact.index.create_new'|trans }}</a>
{% endblock %}
